@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Amantic+SC');
.Amantic {
  font-family:Amantic SC;
}


.Shadows {
  color:red;
  font-family:Shadows Into Light;
}
