
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Amantic+SC');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
.Amantic {
  font-family:Amantic SC;
}


.Shadows {
  color:red;
  font-family:Shadows Into Light;
}

.Code {
  font-family: Source Code Pro;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url('https://media.giphy.com/media/26tPbLsr9oE72erjG/giphy.gif');
    background-size: cover;
    color: rgb(255, 250, 250);
}

a {
    color: rgb(250,250,250)
}
