@import url('https://fonts.googleapis.com/css?family=Lato:bold');

:root {
  --bg-color-from: rgb(0,0,0,1.0);
  --bg-color-to: rgb(0,0,0,1.0);
  --text-color-from: rgb(43, 253, 163, 0.0);
  --text-color-to: rgb(43, 253, 163, 1.0);
  --anim-delay: 1s;
  --anim-dura: 5s;
}

@keyframes bg-fade {
  from { background-color: var(--bg-color-from)}
  to { background-color: var(--bg-color-to) } 
}

@keyframes text-fade {
  from { color: var(--text-color-from) }
  to { color: var(--text-color-from) }
}


body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url('https://media.giphy.com/media/26tPbLsr9oE72erjG/giphy.gif');
  background-size: cover;
  background-color: var(--bg-color-from);
  animation-name: bg-fade;
  animation-delay: var(--anim-delay);
  animation-duration: var(--anim-dura);
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: forwards;
}

p {
  font-family: Lato;
  font-weight: bold;
  color: var(--text-color-from);
  animation-name: text-fade;
  animation-delay: calc(2*var(--anim-delay) + var(--anim-dura));
  animation-duration: var(--anim-dura);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: forwards;
}
